// Specific CSS for your home-page

.background {
  background-color: #FFF2FE;
  padding: 20px;
  text-align: right;
}

.h1-home {
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin-top: 40px;
  text-align: center;
  color: #032D3C;
}

.h1-home-2 {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #207DFF;
}


.form-home {
  width: 420px;
  height: 550px;
  background: #DADADA;
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.form {
  padding: 60px;
}

p {
  font-weight: bold;
}

.form-p {
  font-size: 20px;
}

.level-up {
  font-size: 30px;
}

.show-courses-button {
  width: 246px;
  height: 48px;

  background: #959FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}


.add-course-button {
  width: 246px;
  height: 48px;

  background: #FF9C9C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

