.form-new {
  width: 350px;
  // height: 500px;
  background: #504c47;
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  // margin: 30px;
  margin-bottom: 60px;
  margin-top: 10px;
  color: white;
}

.create-course {
  // position: absolute;
  width: 246px;
  height: 48px;
  left: 115px;
  top: 495px;

  background: #959FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;

  vertical-align: middle;
}

.new-background {
  background-color: #FFF2FE;
}
