<div class="background">
  <h1 class="h1-home">BOOK A COURSE, EASY, ONLINE.</h1>
  <h1 class="h1-home-2">IT IS NEVER TOO LATE TO LEARN.</h1>

  <br><br><br>

  <div class="d-flex justify-content-center">

      <div class="form-home d-flex justify-content-center">

        <form action="/courses" class="form">

          <div class="form-p text-center mb-5">
            <p> ENHANCE YOUR SKILLSET </p>
            <p> AND <em class="level-up"> LEVEL UP !</em></p>
          </div>

          <div class="form-group">
            <label>Select City:</label>
            <input type="text" class="form-control" placeholder="e.g. Berlin">
          </div>

          <div>
            <label for="category"> Select Category:</label>
            <select id="category" class="form-control">
              <option value="SURPRISE ME">SUPRISE ME</option>
              <option value="Sports for Kids">Sports for Kids</option>
              <option value="Languages">Languages</option>
              <option value="Maths">Maths</option>
            </select>
          </div>
          <br><br><br>
          <input type="submit" class="show-courses-button" value="SHOW COURSES">
        </div>
      </form>
  </div>

  <br><br><br><br>

