  <div class="background">
    <div class ="container">
      <div class="flexbox">
        <h3>Results For:</h3>
        <p>City:</p>
        <p>Course:</p>
        <p>Period:</p>
        <p>People:</p>
        <br>
        <br>
      </div>

      <h6>RESULTS FOR: “COURSES IN BERLIN”</h6>
      <div class="container-main">
        <div class="cards">
         <br>
          <div class="card" style="background-image: url(https://images.unsplash.com/photo-1516802273409-68526ee1bdd6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)">
            Basketball
          </div>

          <div class="card" style="background-image: url(https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80)">
            Deutsche Sprechen
          </div>

          <div class="card" style="background-image: url(https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
            Guitar
          </div>

          <div class="card" style="background-image: url(https://images.unsplash.com/photo-1513258496099-48168024aec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
            Python
          </div>

          <div class="card" style="background-image: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
            Databases
        </div>
      </div>
    </div>
  </div>

<!-- <div class="container">
  <div class="row">
    <%# @courses.each do |course| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
          <div class="card-description">
            <h2><%#= course.name %></h2>
          </div>
          <%#= link_to "", course_path(course) %>
        </div>
      </div>
    <%# end %>
  </div>
</div> -->

<%= link_to "Back to Home Page", root_path %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

