<div class="background">
  <div class="container d-flex justify-content-between">
    <div class="div-left">
      <h2><%= @course.name %> (...students)</h2>
        <p>DATE |...| (...)</p>
          <img class="avatar" alt="avatar" src="https://unsplash.com/photos/05A-kdOH6Hw" />
        <br>
        <br>
        <br>
      <h5><strong>AGENDA</strong></h5>
        <p>description</p>
        <br>
        <p>Day 1:</p>
        <p>Day 2:</p>
        <p>Day 3:</p>
      <div class="card-review">
        <p> REVIEWS </p>
        <p>Read experiences of other members:</p>
        <p>Review 1</p>
        <p>Review 2</p>
      </div>
         <h5> <%= link_to "Return to Courses", courses_path %></h5>
    </div>


    <div class="div-right">
      <div class="card-desc">
        <h5>TEACHER</h5>
          <p>teacher information</p>
          <br>
          <br>
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
      </div>
      <div class="join-course">
        <h3> <%= link_to "JOIN COURSE", user_path %></h3>
        <br>
      </div>
      <br>
      <br>
      <div class="div-attendees">
        <h4>ATENDEES ( / )</h4>
      </div>
    </div>

  </div>
</div>


