/* TODO: design your flexbox layout with a sticky map */
.flexbox {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.search-results {
  padding-left: 200px;
  padding-right: 200px;
}

.results-and-map {
  // position: relative;
  background: #FFF2FE;
  display: flex;
  justify-content: space-between;
}

// .container-main {
//   padding-left: 200px;
//   padding-right: 200px;
// }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:16px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-grow: 1;
}

#map {
  height: 50vh;
  position: sticky;
}
